@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #2563EB; /* Tailwind blue-600 */
  }
}

.animate-typing {
  animation: typing 6s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
